body {
    background: gray;
    background-image: url("./../images/stage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.container {
    height: 80%;
    width:70%;
    margin: 0 auto;
    margin-top: 30px;
}
.time{
    font-size: 20px;
    height: 30px;
    width: 80%;
    border: 5px solid black;
    margin: 10px 10% 10px 10%;
    background: lightblue;
    border-radius: 27px;
    text-align: center;
    color: white;;
}
.question {
    font-size: 20px;
    height: 40px;
    width: 80%;
    border: 3px solid black;
    background: darkblue;
    color: white;
}
.choice{
    font-size: 20px;
    height: 30px;
    width: 80%;
    border: 5px solid black;
    margin: 10px 10% 10px 10%;
    background: lightblue;
    border-radius: 27px;
    text-align: center;
    color: white;
}
.choice:hover {
    background: purple;
}